<div class="container-fluid py-5">

    <div class="mb-2rem">
        <h6 class="h5 mb-1 text-uppercase">Administrators</h6>
        <h3 class="m-0 text-uppercase"><b>All Administrators</b></h3>
    </div>

    <app-datatable-admins></app-datatable-admins>


</div>