<div class="container-fluid py-5">

    <div class="mb-2rem">
        <h6 class="h5 mb-1 text-uppercase">Products</h6>
        <h4 class="m-0 text-uppercase"><b>Modify {{admin.strLastName}} {{admin.strName}}</b></h4>
    </div>

    <div class="card m-0">
        <div class="card-header">
            Modify Admins
        </div>
        <div class="card-body">
            <form (ngSubmit)="modifyAdmins(form)" #form="ngForm" novalidate>
                <app-alert-forms></app-alert-forms>
                <div class="form-group">
                    <label>ID</label>
                    <input type="text" class="form-control" name="nmbID" placeholder="123456" [(ngModel)]="admins.nmbID" #nmbID="ngModel" required>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Last Name</label>
                        <input type="text" class="form-control" name="strLastName" placeholder="Ramirez" [(ngModel)]="admins.strLastName" #strLastName="ngModel" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Mother's Last Name</label>
                        <input type="text" class="form-control" name="strSecondLastName" placeholder="Ceron" [(ngModel)]="admins.strSecondLastName" #strSecondLastName="ngModel" required>
                    </div>
                </div>
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" name="Luis Gerardo" placeholder="Name" [(ngModel)]="admins.strName" #strName="ngModel" required>
                </div>

                <hr>

                <div class="form-group">
                    <label>Username</label>
                    <input type="text" class="form-control" name="strUsername" placeholder="geras4197" [(ngModel)]="admins.strUsername" #strUsername="ngModel" required>
                </div>
                <div class="form-group">
                    <label>Cellphone</label>
                    <input type="text" class="form-control" name="strCellphone" placeholder="4491634133" [(ngModel)]="admins.strCellphone" #strCellphone="ngModel" required>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Email</label>
                        <input type="email" pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}" class="form-control" name="strEmail" placeholder="Gerardo4197@gmail.com" [(ngModel)]="admins.strEmail" #strEmail="ngModel" required>
                        <small class="text-form text-danger" *ngIf="strEmail.errors?.pattern">Invalid email format.</small>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Password</label>
                        <input type="password" class="form-control" name="strPassword" placeholder="Password" [(ngModel)]="admins.strPassword" #strPassword="ngModel" required>
                    </div>
                    <div class="form-group col-md-6">
                    </div>
                    <div class="form-group col-md-6">
                        <input type="password" class="form-control" name="strPasswordConfirm" placeholder="Confirm password" [(ngModel)]="admins.strPasswordConfirm" #strPasswordConfirm="ngModel" required>
                        <small class="text-form text-danger" *ngIf="strPasswordConfirm.value != strPassword.value && strPasswordConfirm.dirty">The passwords must be the same</small>
                    </div>
                </div>

                <hr>

                <div class="form-group">
                    <label>Address</label>
                    <input type="text" class="form-control" name="strAddress" placeholder="1234 Main St" [(ngModel)]="admins.strAddress" #strAddress="ngModel" required>
                </div>
                <div class="form-group">
                    <label>Address 2</label>
                    <input type="text" class="form-control" name="strAddress2" placeholder="Apartament, house of floor" [(ngModel)]="admins.strAddress2" #strAddress2="ngModel" required>
                </div>
                <div class="form-group">
                    <label>Country</label>
                    <input type="text" class="form-control" name="strCountry" readonly [(ngModel)]="admins.strCountry" #strCountry="ngModel">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6 ">
                        <label>State</label>
                        <select class="form-control" name="strState" [(ngModel)]="admins.strState" #strState="ngModel" required>
                        <option *ngFor="let state of states">{{state.name}}</option>
                    </select>
                    </div>
                    <div class="form-group col-md-4 ">
                        <label for="inputCity ">City</label>
                        <input type="text" class="form-control" name="xstrCity" placeholder="Aguascalientes" [(ngModel)]="admins.strCity" #strCity="ngModel" required>
                    </div>
                    <div class="form-group col-md-2 ">
                        <label for="inputZip ">Zip</label>
                        <input type="text" class="form-control" name="strZip" placeholder="210" [(ngModel)]="admins.strZip" #strZip="ngModel" required>
                    </div>
                </div>
                <div class="list-inline text-right ">
                    <div class="list-inline-item ">
                        <a href="# " class="btn btn-danger" routerLink="/admins">Back</a>
                    </div>
                    <div class="list-inline-item ">
                        <button type="submit " class="btn btn-primary">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>