<div class="container-fluid py-5">

    <div class="mb-2rem">
        <h6 class="h5 mb-1 text-uppercase">Products</h6>
        <h4 class="m-0 text-uppercase"><b>Add administrator</b></h4>
    </div>

    <div class="card m-0">
        <div class="card-header">
            Add Admins
        </div>
        <div class="card-body">
            <form (ngSubmit)="addAdmin()" [formGroup]="form">
                <app-alert-forms></app-alert-forms>
                <div class="form-group">
                    <label>ID</label>
                    <input type="text" class="form-control" name="nmbID" placeholder="ID" formControlName="nmbID" readonly>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Last Name</label>
                        <input type="text" class="form-control" name="strLastName" placeholder="Ramirez" formControlName="strLastName">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Mother's Last Name</label>
                        <input type="text" class="form-control" name="strSecondLastName" placeholder="Ceron" formControlName="strSecondLastName">
                    </div>
                </div>
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" name="Luis Gerardo" placeholder="Name" formControlName="strName">
                </div>

                <hr>

                <div class="form-group">
                    <label>Username</label>
                    <input type="text" class="form-control" name="strUsername" placeholder="geras4197" formControlName="strUsername">
                </div>
                <div class="form-group">
                    <label>Cellphone</label>
                    <input type="text" class="form-control" name="strCellphone" placeholder="4491634133" formControlName="strCellphone">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Email</label>
                        <input type="email" pattern="" class="form-control" name="strEmail" placeholder="Gerardo4197@gmail.com" formControlName="strEmail">
                        <small class="text-form text-danger" *ngIf="form.controls['strEmail'].errors?.pattern">Invalid email format.</small>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Password</label>
                        <input type="password" class="form-control" name="strPassword" placeholder="Password" formControlName="strPassword">
                    </div>
                    <div class="form-group col-md-6">
                    </div>
                    <div class="form-group col-md-6">
                        <input type="password" class="form-control" name="strPasswordConfirm" placeholder="Confirm password" formControlName="strPasswordConfirm">
                        <small class="text-form text-danger" *ngIf="form.controls['strPasswordConfirm'].errors?.validatingPassword">The passwords aren't the same.</small>
                    </div>
                </div>

                <hr>

                <div class="form-group">
                    <label>Address</label>
                    <input type="text" class="form-control" name="strAddress" placeholder="1234 Main St" formControlName="strAddress">
                </div>
                <div class="form-group">
                    <label>Address 2</label>
                    <input type="text" class="form-control" name="strAddress2" placeholder="Apartament, house of floor" formControlName="strAddress2">
                </div>
                <div class="form-group">
                    <label>Country</label>
                    <input type="text" class="form-control" name="strCountry" readonly formControlName="strCountry">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6 ">
                        <label>State</label>
                        <select class="form-control" name="strState" formControlName="strState">
                        <option value="" selected>Choose an option...</option>
                        <option *ngFor="let state of states">{{state.name}}</option>
                    </select>
                    </div>
                    <div class="form-group col-md-4 ">
                        <label for="inputCity">City</label>
                        <input type="text" class="form-control" name="strCity" placeholder="Aguascalientes" formControlName="strCity">
                    </div>
                    <div class="form-group col-md-2 ">
                        <label for="inputZip ">Zip</label>
                        <input type="text" class="form-control" name="strZip" placeholder="210" formControlName="strZip">
                    </div>
                </div>
                <div class="list-inline text-right ">
                    <div class="list-inline-item ">
                        <a href="#" class="btn btn-danger " routerLink="/admins">Back</a>
                    </div>
                    <div class="list-inline-item ">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>