<div class="container-fluid py-5">

    <div class="mb-2rem">
        <h6 class="h5 mb-1 text-uppercase">Sells</h6>
        <h3 class="m-0 text-uppercase"><b>ALL Sells done</b></h3>
    </div>

    <app-datatable-sells></app-datatable-sells>
</div>