<div class="container-fluid py-5">

    <div class="mb-2rem">
        <h6 class="h5 mb-1 text-uppercase">Products</h6>
        <h4 class="m-0 text-uppercase"><b>Add products</b></h4>
    </div>

    <div class="card m-0">
        <div class="card-header">
            Add Products
        </div>
        <div class="card-body">
            <form (ngSubmit)="addProducts(form)" #form="ngForm" novalidate>
                <app-alert-forms></app-alert-forms>
                <div class="form-group">
                    <label>Product Code</label>
                    <input type="text" maxlength="10" class="form-control" name="nmbCode" placeholder="Product Code" [(ngModel)]="product.nmbCode" #nmbCode="ngModel" required min="1">
                </div>
                <div class="form-group">
                    <label>Product Name</label>
                    <input type="text" class="form-control" name="strName" placeholder="Product Name" [(ngModel)]="product.strName" #strName="ngModel" required>
                </div>
                <div class="form-group">
                    <label>Product Price</label>
                    <input type="number" class="form-control" name="nmbPrice" placeholder="Product Price" [(ngModel)]="product.nmbPrice" #nmbPrice="ngModel" required>
                </div>
                <div class="form-group">
                    <label>Product Quantity</label>
                    <input type="number" class="form-control" name="nmbQuantity" value="0" placeholder="Product Quantity" [(ngModel)]="product.nmbQuantity" #nmbQuantity="ngModel" required min="0">
                </div>
                <div class="form-group">
                    <label>Product Brand</label>
                    <input type="text" class="form-control" name="strBrand" placeholder="Product Band" [(ngModel)]="product.strBrand" #strBrand="ngModel" required>
                </div>
                <div class="form-group">
                    <label>Product Description</label>
                    <textarea class="form-control" name="strDescription" placeholder="Product Description" [(ngModel)]="product.strDescription" #strDescription="ngModel" rows="5" required></textarea>
                </div>
                <div class="list-inline text-right">
                    <div class="list-inline-item">
                        <a href="#" class="btn btn-danger" routerLink="/products">Back</a>
                    </div>
                    <div class="list-inline-item">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>