<div class="container py-5">
    <div class="card">
        <div class="card-body">
            <div class="container">

                <div class="row align-items-center py-4">
                    <div class="col-md-6">
                        <div class="display-4 text-uppercase font-weight-bolder">Invoice</div>
                    </div>
                    <div class="col-md-6 text-right">
                        <div class="h2 mb-3">Originales <b class="text-red">Santana</b></div>
                        <p class="m-0">Cecilia Chapman, 711-2880 Nulla St., Mankato</p>
                        <p class="m-0">Mississippi 96522</p>
                    </div>
                </div>
                <hr>
                <div class="row align-items-center py-4">
                    <div class="col-lg-6">
                        <div class="text-left">
                            <p class="mb-1 text-uppercase"><b>INVOICE TO:</b></p>
                            <p class="m-0">Iris Watson, P.O. Box 283 8562 Fusce RD.</p>
                            <p class="m-0">Fredrick Nebraska 20620</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="text-right">
                            <p class="mb-1 text-uppercase"><b>Date:</b></p>
                            <p class="mb-1">Iris Watson, P.O. Box 283 8562 Fusce RD.</p>
                            <p class="mb-1 text-uppercase"><b>INVOICE NO:</b></p>
                            <p class="m-0">IGS000014.</p>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="py-4">
                    <div class="table-responsive">
                        <table class="table table-borderless">
                            <thead class="border-bottom">
                                <tr>
                                    <th class="text-uppercase">Product</th>
                                    <th class="text-uppercase">Quantity</th>
                                    <th class="text-uppercase">Price</th>
                                    <th class="text-uppercase">Amount</th>
                                </tr>
                            </thead>
                            <tbody class="border-bottom">
                                <tr>
                                    <th>Creative Design</th>
                                    <td>5</td>
                                    <td>$40.00</td>
                                    <td>$200.00</td>
                                </tr>
                                <tr>
                                    <th>Creative Design</th>
                                    <td>5</td>
                                    <td>$40.00</td>
                                    <td>$200.00</td>
                                </tr>
                                <tr>
                                    <th>Creative Design</th>
                                    <td>5</td>
                                    <td>$40.00</td>
                                    <td>$200.00</td>
                                </tr>
                                <tr>
                                    <th>Creative Design</th>
                                    <td>5</td>
                                    <td>$40.00</td>
                                    <td>$200.00</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="2"></td>
                                    <th class="text-uppercase">Total</th>
                                    <th class="text-uppercase">$4000.00</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>