.alert {
    display: flex;
    align-items: stretch;
    padding: 1rem 2rem;
    border-radius: 3px;
}

.alert-icon {
    display: flex;
    align-items: center;
    padding: 0 1.25rem 0 0
}

.alert-icon i {
    font-size: 2rem
}

.alert-text {
    align-self: center;
    flex-grow: 1
}

.alert {
    position: relative;
    padding: 1.5rem 1.25rem;
    margin-bottom: 2rem;
    border: 1px solid transparent;
    border-radius: 0.25rem
}

.alert-secondary {
    color: #75757c;
    background-color: #f9f9fc;
    border-color: #f7f7fb;
}

.alert-secondary hr {
    border-top-color: #e6e6f3;
}

.alert-secondary .alert-link {
    color: #5c5c62;
}

.alert.alert-secondary .alert-icon i {
    color: #74788d;
}

.alert.alert-secondary .alert-text {
    color: #595d6e;
}