<div class="alert alert-secondary mb-3" role="alert">
    <div class="alert-icon"><i class="fas fa-exclamation-triangle"></i></div>
    <div class="alert-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, in id ipsum vitae dolorum exercitationem velit soluta reiciendis fugiat! Ipsam quaerat ad possimus a optio hic dolorum quibusdam commodi facilis.</div>
</div>