<div class="vh-100 intro">
    <div class="container">
        <div class="row align-items-center ">
            <div class="col-lg-6">
                <img src="assets/images/illustration-noresults.png" class="w-100">
            </div>
            <div class="col-lg-6 text-center">
                <h1 class="display-3">Error 404</h1>
                <h3>Page Not Found</h3>
                <p class="text-justify">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis alias laboriosam repudiandae praesentium mollitia maxime nesciunt adipisci molestias beatae ullam. Laudantium nisi odit, laborum soluta cupiditate quo quasi possimus eveniet.</p>
                <button class="btn btn-primary" routerLink="/home">Return to home</button>
            </div>
        </div>
    </div>
</div>