<div class="card">
    <div class="card-body">
        <form (ngSubmit)="pushProduct()" [formGroup]="form">
            <div class="form-group">
                <label>Today is:</label>
                <input type="date" class="form-control form-control-sm" placeholder="Product" name="Date">
            </div>
            <div class="form-group">
                <label>Product Code</label>
                <input type="text" class="form-control form-control-sm" placeholder="Product" name="nmbCode">
            </div>
            <div class="form-group">
                <label>Product name</label>
                <input type="number" min="1" class="form-control form-control-sm" placeholder="Inventory" name="nmbInventory">
            </div>
            <div class="form-group">
                <label>Price</label>
                <input type="number" min="1" class="form-control form-control-sm" placeholder="Quantity" name="nmbQuantity">
            </div>
            <div class="form-group">
                <label>Quantity</label>
                <input type="number" min="1" class="form-control form-control-sm" placeholder="Quantity" name="nmbQuantity">
            </div>
            <div class="form-group">
                <label>Total</label>
                <input type="number" min="1" class="form-control form-control-sm" placeholder="Quantity" name="nmbQuantity">
            </div>
            <div class="text-right">
                <button class="btn btn-sm btn-primary">Add to car</button>
            </div>



        </form>
    </div>
</div>