<div class="container-fluid py-5">

    <div class="mb-2rem">
        <h6 class="h5 mb-1 text-uppercase">Products</h6>
        <h4 class="m-0 text-uppercase"><b>Products Form</b></h4>
    </div>

    <div class="card m-0">
        <div class="card-header">
            Products Form
        </div>
        <div class="card-body">
            <form [formGroup]="form" (ngSubmit)="addProduct()">
                <app-alert-forms></app-alert-forms>
                <div class="form-group">
                    <label>Product Code</label>
                    <input type="text" class="form-control" [readonly]="disabled == true" maxlength="10" name="nmbCode" placeholder="Product Code" formControlName="nmbCode">
                </div>
                <div class="form-group">
                    <label>Product Name</label>
                    <input type="text" class="form-control" name="strName" placeholder="Product Name" formControlName="strName">
                </div>
                <div class="form-group">
                    <label>Product Price</label>
                    <input type="number" min="1" class="form-control" name="nmbPrice" placeholder="Product Price" formControlName="nmbPrice">
                </div>
                <div class="form-group">
                    <label>Product Quantity</label>
                    <input type="number" min="0" class="form-control" name="nmbQuantity" placeholder="Product Quantity" formControlName="nmbQuantity">
                </div>
                <div class="form-group">
                    <label>Product Brand</label>
                    <input type="text" class="form-control" name="strBrand" placeholder="Product Band" formControlName="strBrand">
                </div>
                <div class="form-group">
                    <label>Product Description</label>
                    <textarea class="form-control" name="strDescription" placeholder="Product Description" formControlName="strDescription" rows="5"></textarea>
                </div>
                <div class="list-inline text-right">
                    <div class="list-inline-item">
                        <a href="#" class="btn btn-danger" routerLink="/products">Back</a>
                    </div>
                    <div class="list-inline-item">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>