.bg-login {
    background-image: url('./../../../assets/images/blur-blurred-background-boutique-1036856.jpg');
    background-position: center center;
    background-size: cover;
}

@media only screen and (max-width: 479px) {
    .bg-login {
        height: calc(100vh - 70px);
        /*height: 80vw;*/
        min-height: auto;
    }
}

.kt-login-v1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.divider-custom {
    margin: 1.25rem 0 1.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center
}

.divider-custom .divider-custom-line {
    width: 100%;
    height: 1px;
    background-color: #2c3e50;
    border-radius: 1rem;
    border-color: #2c3e50!important
}

.divider-custom .divider-custom-icon {
    color: #2c3e50!important;
    font-size: 2rem
}

.divider-custom.divider-light .divider-custom-line {
    background-color: black
}

.divider-custom.divider-light .divider-custom-icon {
    color: black;
    font-size: 1rem;
    padding-left: 1rem;
    padding-right: 1rem
}

.footer {
    margin-bottom: 2rem;
    text-align: center;
    bottom: 0;
    position: absolute;
    right: 0;
    left: 0px
}

.auth-brand {
    position: absolute;
    top: 0;
    font-size: 1.5rem;
    right: 0;
    left: 0px;
    text-align: center;
    margin-top: 2rem;
}

.text-red {
    color: red!important;
}