<div class="container-fluid py-5">

    <div class="mb-2rem">
        <h6 class="h5 mb-1 text-uppercase">Products</h6>
        <h3 class="m-0 text-uppercase"><b>ALL Products</b></h3>
    </div>

    <app-datatable-products></app-datatable-products>
</div>