<div class="page-wrapper default-theme sidebar-bg bg2 toggled">
    <app-vertical-menu></app-vertical-menu>

    <main class="page-content">
        <div id="overlay" class="overlay"></div>
        <app-navbar></app-navbar>
        <router-outlet></router-outlet>
    </main>
</div>