<div class="container-fluid py-4">
    <app-table-products [data]="data"></app-table-products>
    <app-get-product [data]="data"></app-get-product>
    <app-table-sell [data]="data"></app-table-sell>
</div>