<div class="alert alert-secondary m-0 bg-white border-0" role="alert">
    <div class="alert-icon"><i class="fas fa-exclamation-triangle"></i></div>
    <div class="alert-text">Sorry, we haven't found any results.</div>
</div>