<div class="card m-0">
    <div class="card-body">
        <div class="row align-items-center mb-4">
            <div class="col-6">
                <input type="text" class="form-control form-control-sm" name="search" [(ngModel)]="search" placeholder="Search...">
            </div>
            <div class="col-6 text-right">
                <div class="list-inline">
                    <div class="list-inline-item">
                        <a class="btn btn-primary btn-sm" routerLink="/add-products/new"><i class="fas fa-plus"></i><span class="display-sm-none ml-2">Add new</span></a>
                    </div>
                    <div class="list-inline-item">
                        <button class="btn btn-primary btn-sm"><i class="fas fa-ellipsis-h"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-hover table-bordered m-0">
                <thead>
                    <tr>
                        <th>Code</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Brand</th>
                        <th>Description</th>
                        <th>More</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of products | filter:search | paginate:{itemsPerPage: 10, currentPage: actualPage}">
                        <td>{{product.nmbCode}}</td>
                        <td>{{product.strName}}</td>
                        <td>{{product.nmbPrice}}</td>
                        <td>{{product.nmbQuantity}}</td>
                        <td>{{product.strBrand}}</td>
                        <td>{{product.strDescription}}</td>
                        <td class="text-center">
                            <button type="button" class="btn btn-primary btn-sm" id="dropdownReports" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-ellipsis-h"></i></button>
                            <div class="dropdown-menu dropdown-menu-right shadow-lg" aria-labelledby="dropdownReports">
                                <div class="dropdown-header text-primary-2"><span class="text-xs text-uppercase">More</span></div>
                                <div class="dropdown-item excel" [routerLink]="['/add-products', product.nmbCode]"><i class="fa fa-book mr-2"></i>Modify</div>
                                <div class="dropdown-item pdf" (click)="deleteProduct(product)"><i class="fa fa-trash mr-2"></i>Delete</div>
                            </div>
                        </td>
                    </tr>
                    <tr class="bg-white" *ngIf="products === undefined || products.length === '' || products == null || products.length == null">
                        <td colspan="8">
                            <app-no-results-alert></app-no-results-alert>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="float-right" *ngIf="products != undefined || products != null">
            <pagination-controls (pageChange)="actualPage = $event" previousLabel="" nextLabel="" responsive="true"></pagination-controls>
        </div>
    </div>
</div>