<nav id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-content">
        <div class="sidebar-item text-center sidebar-brand">
            <a href="#" routerLink="/home"><span class="text-black mr-1 text-decoration-none">Originales</span> <b class="text-red">Santana</b></a>
        </div>
        <div class="sidebar-item sidebar-menu">
            <ul>
                <li class="header-menu">
                    <span>General</span>
                </li>
                <li>
                    <a href="#" routerLink="/home">
                        <i class="fa fa-tachometer-alt"></i>
                        <span class="menu-text">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="#" routerLink="/admins">
                        <i class="fa fa-user-friends"></i>
                        <span class="menu-text">Administrators</span>
                    </a>
                </li>
                <li>
                    <a href="#" routerLink="/products">
                        <i class="fa fa-list"></i>
                        <span class="menu-text">Products</span>
                    </a>
                </li>
                <li>
                    <a href="#" routerLink="/sells">
                        <i class="fa fa-dollar-sign"></i>
                        <span class="menu-text">Sells</span>
                    </a>
                </li>
                <li>
                    <a href="#" routerLink="/products">
                        <i class="fa fa-boxes"></i>
                        <span class="menu-text">Inventory</span>
                    </a>
                </li>
                <li>
                    <a href="#" routerLink="/ticket">
                        <i class="fa fa-sign-out-alt"></i>
                        <span class="menu-text">Logout</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>