.intro {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.div {
    background: rgba(255, 255, 255, .7);
    color: black;
}

.vh-100 {
    background: rgb(123, 300, 100);
    /*
    background-image: url('');
    background-position: center center;
    background-size: cover;
    */
}