<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-hover table-bordered m-0">
                <thead>
                    <tr>
                        <th>Actions</th>
                        <th>Code</th>
                        <th>Product</th>
                        <th>Brand</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Subtotal</th>
                    </tr>
                    <tr>
                        <td class="text-center"><button class="btn btn-sm btn-danger"><i class="fas fa-trash"></i></button></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th colspan="6" class="text-right">Total</th>
                        <th>20000</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>