<nav class="navbar navbar-default navbar-expand-lg navbar-light bg-light shadow">
    <div class="mr-2">
        <button class="navbar-brand" class="btn btn-secondary" id="toggle-sidebar"><span class="fas fa-bars"></span></button>
    </div>
    <a class="navbar-brand text-uppercase" href="#" routerLink="/home">Originales <b class="text-red">Santana</b></a>
    <div class="ml-auto">
        asdsasd
    </div>
</nav>