/* Navbar de cuenta, moneda y lenguajes */

.top-nav {
    width: 100%;
    height: 50px;
    background: #1e1e27;
}

.currency {
    border-right: solid 1px #868e96;
    padding-right: 1rem;
    font-size: small
}

.language {
    border-right: solid 1px #868e96;
    padding-right: 1rem;
    padding-left: 1rem;
    font-size: small
}

.account {
    padding-left: 1rem;
    font-size: small
}

.text-red {
    color: red!important;
}

.navbar-text {
    color: #868e96!important;
    font-size: small
}

.box-shadow {
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.15);
}


/* //////////////////////////////////////////////// */