.dropdown-header {
    color: #2780E3!important;
}

.dropdown-item {
    color: #868e96!important;
    font-size: small!important;
}

.dropdown-item:hover {
    transition: all.3s;
    color: #5578eb!important;
    text-decoration: none;
    background-color: #f8f9fa
}

.dropdown-item.pdf:hover {
    transition: all.3s;
    color: red!important;
    cursor: pointer;
}

.dropdown-item.excel:hover {
    transition: all.3s;
    color: green!important;
    cursor: pointer;
}

.dropdown-item.pdf:focus {
    transition: all.3s;
    color: red;
}

.dropdown-item.excel:focus {
    transition: all.3s;
    color: green;
}

.dropdown-item:focus {
    color: #335de7;
    background-color: #f8f9fa
}

.dropdown-item.active,
.dropdown-item:active {
    color: #335de7;
    text-decoration: none;
    background-color: #f8f9fa
}

.badge {
    padding: .5rem .75rem!important;
}

.alert {
    display: flex;
    align-items: stretch;
    padding: 1rem 2rem;
    border-radius: 3px;
    margin: 0 0 20px 0
}

.alert-icon {
    display: flex;
    align-items: center;
    padding: 0 1.25rem 0 0
}

.alert-icon i {
    font-size: 2rem
}

.alert-text {
    align-self: center;
    flex-grow: 1
}

.alert {
    position: relative;
    padding: 1.5rem 1.25rem;
    margin-bottom: 2rem;
    border: 1px solid transparent;
    border-radius: 0.25rem
}

.alert.alert-forms {
    background: #fff;
    border: 1px solid rgba(0, 0, 0, .125);
    color: #5578eb
}

.alert.alert-forms .alert-icon {
    color: #595d6e
}

.alert.alert-forms .alert-text {
    color: #595d6e;
    font-weight: 300;
    line-height: 1.2;
}

.vh-100 {
    height: 100vh;
}


/* Cards */

.card {
    margin-bottom: 2rem
}


/* Botones */

.btn-icon {
    margin-right: .5rem
}

@media (max-width:767.98px) {
    .btn-icon {
        margin: 0px
    }
}

.mb-2rem {
    margin-bottom: 2rem
}


/* Displays */

@media (max-width:767.98px) {
    .display-sm-none {
        display: none
    }
}


/* //////////////////////////////////////// */


/* Forms invalidos */

.ng-invalid.ng-invalid.ng-dirty:not(form):focus {
    box-shadow: 0 0 0 .2rem #D98880
}

.ng-invalid.ng-invalid.ng-dirty:not(form) {
    border: 1px solid #E74C3C
}

.ng-invalid.ng-invalid.ng-dirty:not(form):focus {
    box-shadow: 0 0 0 .2rem #D98880
}

.cont {
    border: 0!important
}

.ng-invalid.ng-dirty::-webkit-input-placeholder {
    color: #E74C3C;
    opacity: 1
}

.ng-invalid.ng-dirty::-moz-placeholder {
    color: #E74C3C;
    opacity: 1
}

.ng-invalid.ng-dirty:-ms-input-placeholder {
    color: #E74C3C;
    opacity: 1
}

.ng-invalid.ng-dirty::-ms-input-placeholder {
    color: #E74C3C;
    opacity: 1
}

.ng-invalid.ng-dirty::placeholder {
    color: #E74C3C;
    opacity: 1
}

.ng-invalid.ng-invalid.ng-dirty .input-icon>.input-icon-icon>span i {
    color: #E74C3C
}


/* //////////////////////////////////////// */