<div class="card m-0">
    <div class="card-body">
        <div class="row align-items-center mb-4">
            <div class="col-6">
                <input type="text" class="form-control form-control-sm" name="search" [(ngModel)]="search" placeholder="Search...">
            </div>
            <div class="col-6 text-right">
                <div class="list-inline">
                    <div class="list-inline-item">
                        <a class="btn btn-primary btn-sm" routerLink="/add-admins/new"><i class="fas fa-plus"></i><span class="display-sm-none ml-2">Add new</span></a>
                    </div>
                    <div class="list-inline-item">
                        <button class="btn btn-primary btn-sm"><i class="fas fa-ellipsis-h"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-hover table-bordered m-0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Last Name</th>
                        <th>Second</th>
                        <th>Cellphone</th>
                        <th>Email</th>
                        <th>Address</th>
                        <!--<th>Address 2</th>
                        <th>Country</th>
                        <th>State</th>
                        <th>City</th>
                        <th>Zip</th> -->
                        <th>More</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let admin of admins | filter:search | paginate:{itemsPerPage: 6, currentPage: actualPage}">
                        <td>{{admin.nmbID}}</td>
                        <td>{{admin.strName}}</td>
                        <td>{{admin.strLastName}}</td>
                        <td>{{admin.strSecondLastName}}</td>
                        <td>{{admin.strCellphone}}</td>
                        <td>{{admin.strEmail}}</td>
                        <td>{{admin.strAddress}}</td>
                        <!-- <td>{{admin.strAddress2}}</td>
                        <td>{{admin.strCountry}}</td>
                        <td>{{admin.strState}}</td>
                        <td>{{admin.strCity}}</td>
                        <td>{{admin.strZip}}</td> -->
                        <td class="text-center">
                            <button type="button" class="btn btn-primary btn-sm" id="dropdownReports" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-ellipsis-h"></i></button>
                            <div class="dropdown-menu dropdown-menu-right shadow-lg" aria-labelledby="dropdownReports">
                                <div class="dropdown-header text-primary-2"><span class="text-xs text-uppercase">More</span></div>
                                <div class="dropdown-item excel" [routerLink]="['/add-admins', admin.nmbID]" routerLinkActive="router-link-active"><i class="fa fa-book mr-2"></i>Modify</div>
                                <div class="dropdown-item pdf" (click)="deleteAdmin(admin)"><i class="fa fa-trash mr-2"></i>Delete</div>
                            </div>
                        </td>
                    </tr>
                    <tr class="bg-white " *ngIf="admins === undefined || admins.length === '' || admins == null || admins.length == null">
                        <td colspan="14">
                            <app-no-results-alert></app-no-results-alert>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="float-right" *ngIf="admins != undefined || admins != null">
            <pagination-controls (pageChange)="actualPage = $event" previousLabel="" nextLabel="" responsive="true"></pagination-controls>
        </div>
    </div>
</div>