<h1>Add sell</h1>
<div class="card">
    <h3>Select product</h3>
    <div class="card-body">
        <input [(ngModel)]="search" name="search" type="text" class="form-control form-control-sm mb-2rem" placeholder="Search...">
        <div class="table-responsive">
            <table class="table table-hover table-bordered m-0">
                <thead>
                    <tr>
                        <th>Code</th>
                        <th>Product</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Add</th>
                    </tr>
                    <tr *ngFor="let product of products | filter:search | paginate:{itemsPerPage: 8, currentPage: actualPage}">
                        <td>{{product.nmbCode}}</td>
                        <td>{{product.strName}}</td>
                        <td>{{product.nmbPrice}}</td>
                        <td>{{product.nmbQuantity}}</td>
                        <td class="text-center">
                            <button class="btn btn-sm btn-primary" (click)="getProduct(product)"><i class="fas fa-check-square"></i></button>
                        </td>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="float-right" *ngIf="products != undefined || products != null">
            <pagination-controls (pageChange)="actualPage = $event" previousLabel="" nextLabel="" responsive="true"></pagination-controls>
        </div>
    </div>
</div>