<div class="card">
    <div class="card-body">
        <div class="d-flex align-items-center justify-content-between mb-3">
            <h6 class="m-0">Products Information</h6>
            <div class="badge badge-danger">
                Now
            </div>
        </div>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam, consectetur cum quos ipsa ea veniam, dolorem, laboriosam sunt voluptate quasi ratione quo consequatur omnis nihil fuga vel adipisci odit ad?</p>
    </div>
</div>